<!DOCTYPE html>
<html>
  <head>
    <title>Aggiorna Giornale</title>
    <link rel="stylesheet" href="/style.css?version=2" />
  </head>

  <body>
    <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
    <h1>Giornale</h1>
    <div th:if="${giornali.isEmpty()}">Non ci sono giornali nel sistema</div>
    <ul>
      <li th:each="giornale: ${giornali}">
        <span th:text="${giornale.nome} + ' - ' + ${giornale.periodicita} + ' (' + ${giornale.anno} + ')'">Up! (200)</span>
        <a th:href="@{'/cancellaGiornale' + '/' + ${giornale.id}}">Cancella</a>
        <a th:href="@{'/modificaGiornale' + '/' + ${giornale.id}}">Modifica</a>
      </li>
    </ul>
  </body>
</html>

