<!DOCTYPE html>
<html>
  <head>
    <title>Giocattoli</title>
    <link rel="stylesheet" href="/style.css?version=2" />
  </head>

  <body>
    <div><a href="/"><img src="/logo-siw.png" width="50%"/></a></div>
    <h1>Giocattoli</h1>
    <div th:if="${giocattoli.isEmpty()}">Non ci sono giocattoli nel sistema</div>
    <ul>
      <li th:each="giocattolo: ${giocattoli}">
        <a th:href="@{'/giocattolo' + '/' + ${giocattolo.id}}"
          th:text="${giocattolo.nome} + ' - ' + ${giocattolo.tipologia} + ' (' + ${giocattolo.produttore} + ')'">Up! (2000)</a>
      </li>
    </ul>
  </body>
</html>