<!DOCTYPE html>
<html>
    <head>
        <title>Giornale</title>
        <link rel="stylesheet" href="/stile.css?version=2" />
    </head>

    <body>
        <div><a href="/"><img src="/logo-siw.png" width="50%"></a></div>
        <div th:if="${giornale}">
        <h1 th:text="${giornale.nome}">Nome giornale</h1>
            <div>Periodicità: <span th:text="${giornale.periodicita}">2000</span></div>
            <div>Fondazione: <span th:text="${giornale.anno}">2000</span></div>
            <div>Direttore: <span th:text="${giornale.direttore}">2000</span></div>
            <div>Prezzo: <span th:text="${giornale.prezzo}">2000</span></div>
            <span><img width="30%" th:src="${giornale.urlImage}" /></span>
            <form th:action="@{/carrello/aggiungi}" method="post" style="margin-top:20px;">
                <input type="hidden" name="id" th:value="${giornale.id}" />
                <input type="hidden" name="tipo" value="Giornale" />
                <button type="submit">Aggiungi al carrello</button>
            </form>
        </div>
        <div th:unless="${giornale}">Non esiste</div>
    </body>
</html>