<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Edicola del Faro</title>
    <link rel="stylesheet" href="/index.css?version=1" />
  </head>
  <body>
    <!-- Sezione Parallax -->
    <div class="parallax">
      <div class="overlay">
        <h1>Benvenuto sull'Edicola del Faro</h1>
      </div>
    </div>

    <!-- Contenuto della homepage -->
    <div class="content">
      <h2>Giornali</h2>
      <ul>
        <li><a href="/giornali">Lista Giornali</a></li>
        <li><a href="/formNewGiornale">Aggiungi Giornale</a></li>
        <li><a href="/aggiornaGiornale">Gestisci Giornali</a></li>
      </ul>

      <h2>Giornalisti</h2>
      <ul>
        <li><a href="/giornalisti">Lista Giornalisti</a></li>
        <li><a href="/formNewGiornalista">Aggiungi Giornalista</a></li>
        <li><a href="/aggiornaGiornalista">Gestisci Giornalisti</a></li>
      </ul>
    </div>
	<div style="height: 1000px; background-color: #f0f0f0;">
	  <h2 style="padding-top: 20px; text-align: center;">Contenuto di prova sotto l'immagine</h2>
	</div>
  </body>
</html>