<!DOCTYPE html>
<html>
  <head>
    <title>Modifica Giocattolo</title>
    <link rel="stylesheet" href="/style.css?version=2" />
  </head>
  <body>
    <h1>Modifica Giocattolo</h1>
    <form th:action="@{'/modificaGiocattolo/' + ${giocattolo.id}}" th:object="${giocattolo}" method="post">
      <div>
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" required />
      </div>
      <div>
        <label>Produttore:</label>
        <input type="text" th:field="*{produttore}" required />
      </div>
      <div>
        <label>Tipologia:</label>
        <input type="text" th:field="*{tipologia}" required />
      </div>
      <div>
        <label>Prezzo:</label>
        <input type="number" step="0.01" th:field="*{prezzo}" required />
      </div>
      <button type="submit">Salva modifiche</button>
    </form>
    <div th:if="${messaggioErrore}">
      <p th:text="${messaggioErrore}" style="color:red;"></p>
    </div>
  </body>
</html>
