<!DOCTYPE html>
<html>
    <head>
        <title>Giornale</title>
        <link rel="stylesheet" href="/stile.css?version=2" />
    </head>

    <body>
        <div><a href="/"><img src="/logo-siw.png" width="20%"></a></div>
    <h1>Modifica Giornale</h1>
    <form th:action="@{'/modificaGiornale/' + ${giornale.id}}" th:object="${giornale}" method="post">
        <div>
            <label>Nome:</label>
            <input type="text" th:field="*{nome}" required />
        </div>
        <div>
            <label>Anno:</label>
            <input type="number" th:field="*{anno}" required />
        </div>
        <div>
            <label>Prezzo:</label>
            <input type="number" step="0.01" th:field="*{prezzo}" required />
        </div>
        <div>
            <label>Mensilità/Periodicità:</label>
            <input type="text" th:field="*{periodicita}" required />
        </div>
        <div>
            <label>Direttore:</label>
            <input type="text" th:field="*{direttore}" required />
        </div>
        <button type="submit">Salva modifiche</button>
    </form>
    <div th:if="${messaggioErrore}">
        <p th:text="${messaggioErrore}" style="color:red;"></p>
    </div>
    </body>
</html>