<!DOCTYPE html>
<html>
    <head>
        <title>Giornale</title>
        <link rel="stylesheet" href="/stile.css?version=2" />
    </head>

    <body>
        <div><a href="/"><img src="/logo-siw.png" width="20%"></a></div>
        <div th:if="${giornale}">
        <h1 th:text="${giornale.nome}">Nome giornale</h1>
            <div>Anno: <span th:text="'(' + ${giornale.anno} + ')'">2000</span></div>
            <span><img width="30%" th:src="${giornale.urlImage}" /></span>
            <div>
                <div th:if="${movie.director == null}">
                    <a th:href="@{'/registaPerFilm' + '/' + ${movie.id}}">Aggiungi regista</a>
                </div>
                <div th:if="${movie.director != null}">
                    <h2>Regista</h>
                    <p th:text="${movie.director.name + ' ' + movie.director.surname}">Nome Cognome</p>
                </div>
            </div>
            <div>
                <a th:href="@{'/aggiornaAttori' + '/' + ${movie.id}}">Aggiungi attori</a>
            </div>
        </div>
        <div th:unless="${movie}">Non esiste</div>
    </body>
</html>