<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo</title>
    <link rel="stylesheet" href="/style.css?version=2" />
  </head>

  <body>
    <div>
      <a href="/"><img src="/logo-siw.png" width="50%" /></a>
    </div>

    <h1>Prodotti</h1>

    <div th:if="${prodotti.isEmpty()}">Non ci sono prodotti nel catalogo</div>

    <ul>
      <li th:each="prodotto : ${prodotti}">
        <a th:href="@{'/prodotto/' + ${prodotto.id}}"
           th:text="${prodotto.nome + ' - ' + prodotto.prezzo + ' (' + prodotto.tipoProdotto + ')'}">
           Prodotto
        </a>
      </li>
    </ul>
  </body>
</html>
