<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo</title>
    <link rel="stylesheet" href="/style.css?version=2" />
  </head>

  <body>
    <div>
      <a href="/"><img src="/logo-siw.png" width="50%" /></a>
    </div>

    <h1>Prodotti</h1>

    <div th:if="${prodotti.isEmpty()}">
      <div style="position: absolute; top: 20px; right: 30px;">
        <a th:href="@{/carrello}" title="Torna al carrello" style="font-weight:bold; font-size:18px; color:#007bff; text-decoration:none;">Torna al carrello</a>
      </div>
      Non ci sono prodotti nel catalogo
    </div>

    <ul>
      <li th:each="prodotto : ${prodotti}">
        <span>
          <a th:href="@{'/prodotto/' + ${prodotto.id}}"
             th:text="${prodotto.nome + ' - ' + prodotto.prezzo + ' (' + prodotto.tipoProdotto + ')'}">
            Prodotto
          </a>
        </span>

        <!-- Form per aggiungere al carrello -->
        <form th:action="@{/carrello/aggiungi}" method="post" style="display:inline">
          <input type="hidden" name="tipo" th:value="${prodotto.tipoProdotto}" />
          <input type="hidden" name="id" th:value="${prodotto.id}" />
          <button type="submit">Aggiungi al carrello</button>
        </form>
      </li>
    </ul>
  </body>
</html>

